// Non-modular or client styles for .l-footer region.


.l-footer {}
.l-footer-columns {}


.copyright {
	font-size: 0.8em;
}

.footer_wrapper {
    background-color: #5B8930;
    display: inline-block;
    width: 100%;
	height: 0;
	padding-top: 20%;	   
	
}

.footer_top {
	width: 100%;
	height: 0;
	float: left;
	 display: inline-block;
	    padding: 50px 0;
	    color: #fff;
	    font-size: 14px;
	    line-height: 20px;
}

.visually-hidden {
    position: absolute!important;
    top: -9999px!important;
    left: -9999px!important;
}

.footer_bottom {
    background-color: #7A942E;
    display: inline-block;
	padding: 20px;
    width: 100%;
		float: left;
	
	.panel {
	    border-style: none;
	    border-width: 0;
	    margin-bottom: 0;
	    padding: 0;
		background: #7A942E;
	}
	
}