// Non-modular or client styles for .l-header region.
  $small-screen: 768px;
  $medium-screen: 1024px;
  $large-screen: 1440px;

// $screen: "only screen";
  $small: "only screen and (min-width: #{$small-screen})";
  $medium: "only screen and (min-width: #{$medium-screen})";
  $large: "only screen and (min-width: #{$large-screen})";
  $landscape: "only screen and (orientation: landscape)";
  $portrait: "only screen and (orientation: portrait)";

  @import 'https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:400,700|Montserrat:400,700|Open+Sans:300,400,800,800i|Roboto|Source+Sans+Pro:400,600,700,900';

 
  
  
  
  //slider
  
  

  header {
   //background-color: #fbfbfb;
	  
	}  
	  
.l-header {}

// Top Bar
//--------------------------------------------------
.top-bar {
	margin-top: -1rem;
    background: transparent;
	
  .title-area {}
}

.top-bar-section {
	  background: transparent;
	
}
.top-bar-section .left {}
.top-bar-section .right {}

.size-18 { font-size: 18px; }

.logo {
	margin-top: -16px;
	    display: block;
	    height: 105px;
	    width: 378px;
}

.top-bar-section ul li > a {
	background: transparent;
}


.top-bar-section li a:not(.button) {
	border-radius: 3px;
	background: transparent;
	
}

.top-bar-section ul li:not(.button)  {
    float: left;
    padding-top: 0.599em;
}


.top-bar-section ul li:hover > a {
    color: #fff;
}

.slides {
	p {
		    margin: 0;
		    text-align: left;
			font-size: 14px;
	}
}




header {
    left: 0;
    right: 0;
    z-index: 9000;
    max-width: 100%;
    margin: 0 auto;
	-webkit-transition: all 300ms ease;
	    /* transition: all 300ms ease; */
	    -webkit-box-shadow: 0 40px 100px -10px rgba(0,0,0,0.1);
	    -moz-box-shadow: 0 40px 100px -10px rgba(0,0,0,0.1);
	    box-shadow: 0 40px 100px -10px rgba(0,0,0,0.1);
	background-color: #fbfbfb;
}	
	
#top_header .content {
    margin-bottom: 0px;
}

#heading_wrapper {
	margin-bottom: 20px;
	box-shadow: 0px 0px 3px 0px black ;
}

#heading_wrapper_after {
  padding:5px 0px;
}

.wrapper {
	
	

.header.top_bar {
	overflow: hidden;
	position: relative;
	margin-bottom: 0;
	width: 100%;
	 
.block {
	display: inline-block;
	position: relative;
	margin-bottom: -0.3em;
	float: left;
	    height: 0;
	
}

.button {
	height: 1.85rem;
	
}
	
	
}
}

.left{
	float:left;
}
.header_icons  {
	    text-align: right;
	    display: inline-block;
	    float: right;
		height: 35px;
		margin-top: -3px;
		
		.block-content {
			margin-left: 1rem;
		}
		
		
		
		
	}



.block-content form {
	margin-bottom: 0;
}


.header_icons .has-tip {
	cursor: pointer;
	border-bottom: none;
}

.header_icons.left {
	text-align: left;
    text-align: left;
    font-size: 1.3em;
	
}

.header_icons li {
	list-style: none;
	display: inline;
	margin-right: 10px;
	color: white;
}

.header_icons img {
	height: 26px;
}

.header_icons i {
	-moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header_icons li a {
	color: #fff;
}






 .wrapper {
     background-color: #5B8930;
     min-height: 50px;
	 width: 100%;
     opacity: 1;
     z-index: 33;
	 padding: 10px 10px 12px 10px;
	 //padding:10px 10px 12px 10px;
    // box-shadow: 0px 0px 15px 0px #dcdcdc;
	 display: block;
	 margin-bottom: 20px;
	
	 .container {
		 margin:0;
		 padding:0;
	  }
	
	 .inline-list {
		 padding-left: 30%;
		
	 }
	 a.sign {
		 font-size: 12px;
		 color: #fff;
		 line-height: normal;
		 display: inline-block;
		 padding-top: 2px;
		 margin: 7px;
		 margin-right: 45px;
			 
	 }
	 a.sign:hover{
		 color: #87d37c;
	         transition: all .3s ease-in-out;
		 }
	
	.block {
		display: inline-block;
		position: relative;
		float: left;
		
	}
	.columns,
	.column {
		margin:0;
		
	}
	

	 
	
	.button:hover {
	      background: #414d55;
	      color: white;
	    }
	
	.button {
	    background-color: #7b919f;
	    border-color: #56616c;
		display: block;
	    border-width: 1px;

		
	}
	
	> li a {
		 display: inline;
	}
 
}

.branding {
	padding-top: 10px;
}

.top-bar-section {

  li {}
  
   a {
      text-transform: uppercase;
	  font-family: "Source Sans Pro", sans-serif;
     }
  
} 
  
//banner

.banner {
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 0px black;
}
.banner_after {
  padding:5px 0px;
}



.search-field {
  width: 0;
}

.search-icon {
  margin-top: 15px;
}
.input-group
{
	span {
    padding-left: 5px;
    color: #fff;
   }
}

.icon {
  font-size: 20px;
  color: #fff;
}

.center {
  padding-top: 20%;
}

#secondary-menu {
	display: none;
}
.top-bar-section.sacho {
	float: right;
}

#main-menu {
  background: transparent;
}

.top-bar-section .has-form {
    padding-top: 2.2em;
	
	
}

//views search



	.breadcrumbs {
	    margin-top: 0.5rem;
	    display: none;
	}


form input::-webkit-input-placeholder{
     color:red !important;

 }

.block.block-views.block-views-exp-test-search-page {
	float: right;


    .button-font-color: #fff;



	form input::-webkit-input-placeholder{
	     color: #3d5d1f !important;

	 }


	.input-font-color: #fff;
	
	.input-group {
	    position: relative;
	    display: table;
	    border-collapse: separate;
	}
	
	  input.form-text {
	    font-size: 12px;
	    width: 200px;
	    float: right;
		 color: #8DB255s;
	}
	
	.input-group button {
	    background: transparent;
	    right: 0;
	    color: #8DB255;

	    position: absolute;
	    right: 5px;
	            top: -14%; 
	    width: 28px;
		box-shadow: none;
	}
	
	.form-control
	   {
	    box-shadow: none;
	    border-color: #3d5d1f;
	    border-radius: 3px;
	    box-shadow: none;	
		background-color: #fff;
		height: 30px;
	  }	
   
   
   
	  
	
	.views-exposed-form .views-exposed-widget {
		margin: 0;
		float: right;
		padding: 0;
	}
	
}

.has-form input {
 
    width: 100%;
	box-shadow: none;
	    border-color: #000;
	    border-radius: 3px;
	    height: 30px;
	    line-height: 1;
	    width: 100%;
}

.has-form .form-inline input{
	border: 1px solid #ccc;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	    -o-border-radius: 5px;
	    border-radius: 5px;
	    -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.15);
	    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.15);
	    box-shadow: inset 0 1px 4px rgba(0,0,0,0.15);
	    height: 38px;
	    padding: 0 40px 0 9px;
	    -webkit-transition: all 0.25s ease-in-out;
	    -moz-transition: all 0.25s ease-in-out;
	    -o-transition: all 0.25s ease-in-out;
	    transition: all 0.25s ease-in-out;
	    width: 100%;
}

.has-form button {
    border-radius: 50%;
    height: 32px;
    margin-top: -36px;
    position: absolute;
    right: 5px;
    top: 50%;
    width: 32px;
	color: #5B8930;
	
	&:hover {
		color: #5B8930;
	}
	
}

.js_toggler {
	  

	
  @include button(
	$padding: emCalc(10),
	$bg: transparent,
	$radius: false,
	$full-width: false,
	$is-input: false,
	$disabled: false
	
  );
}



.top_bar {
	height:0;
}







//menu


@media #{$medium}  { 
	
	
	.top-bar-section {
		
		display: block;
		height: 90px;

	  li {
		  line-height: inherit;
	  
	      a {
	      margin-top: 32px;
		  line-height: inherit;
	     }
		 
	 }

   
  }


.top-bar-section.menu {
	
	li 
	
	{
		a {
			  line-height: inherit;
		}
	}
	
}
 
 .top-bar ul.menu {
     float: right;
     width: auto;
     margin-bottom: 0;
	 background: #fff;
	 
      li {
	    line-height: inherit;
      }
  }
 
 
 
 
 .wrapper {
     background-color: #5B8930;
     min-height: 50px;
	 height: 50px;
     width: 100%;
     opacity: 1;
     z-index: 33;
padding: 10px 10px 12px 10px;
	     //box-shadow: 0px 0px 15px 0px #dcdcdc;
     display: block;
 }
 
 

 .top-bar-section li a:not(.button) {
 	line-height: 35px;
 	border-radius: 3px;
 	background: transparent;
	
 }

 .top-bar-section ul li:not(.button)  {
     float: left;
     padding-top: 0.599em;
 }


 .top-bar-section ul li:hover > a {
     color: #fff;
 }

 .slides {
 	p {
 		    margin: 0;
 		    text-align: left;
 			font-size: 14px;
 	}
 }



 
 
 
 
}








