// Non-modular or client styles for the .l-content region.

.l-main {}

.node {}
.body {}
.image {}
.breadcrumb {}



.pane-content {
	display: block;
	padding-top: 15px;
}
.pane-content.field-wrapper {
	p {
		//margin-top: 1rem;
	}
}

span.date-display-single {
    color: #5B8930;
    color: #5B8930;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
    letter-spacing: .25px;
	padding-left: 0;
	font-weight: bold;
	display: block;
}
span.date-display-start {
  color: #5B8930;
}
span.date-display-end {
	color: #5B8930;
}


#page-title {
    bottom: 0;
    -moz-box-sizing: border-box;
   // box-sizing: border-box;
    //color: #fff;
    //left: 0;
    //padding: 20px;
    //position: absolute;
    width: 100%;
    //z-index: 2;	
	//padding-bottom: 40%;
	display: block;
    //text-shadow: 1px 1px 2px #222;
	font-size: 2.25rem;
	line-height: 1.16666667;
}